
extends layout
block content
 .rowcreate
  .header
   .container
       center
         h2 We would love your feedback...
    .container

       form
        .form-group
          form(method="post")
           fieldset
            legend.text-center Please add your review
             .form-group
              label(for="name") Name:
              .col-md-9
                input#name.form-control(name="name", type="text", placeholder="Your Name", required)
                br
             .form-group
               label(for="content") Review:
               .col-md-9
                textarea#exampleTextarea.form-control(name="content", type="text", placeholder="Your Review", required)
                br
              button.btn1(type="submit") Submit your Review
