extends layout
block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1=title
        
      p Add to cart
      br
      if (error && error.message)
        p(style="color: red") Error: #{error.message}
      
      if (success)
        p(style="color: green")=success
        
      form(action ='', method = "post")
        p Product Name
        input(type='text', name='productname', placeholder='iproductname')
        br 
        br
        p Qty
        input(type='text', name='qtye', placeholder='qty')
        br 
        br
        p image
        input(type='text', name='productimage', placeholder='productimage')
        br 
        br
        p show item?  
          input(type='checkbox', name='show' checked)
        br 
        br
        input(type='submit', value='Submit')