  
extends layout
block content

   .col-md-8.col-md-offset-4

     a.button.btn.btn-secondary(href="/addblog") Add new post  
     center   
    .grid-container
     each blog in blogs
      .item
        h2 #{blog.title}
        .centre
        img(src="/" + blog.image style='max-width:60%; max-height:300px; margin: auto' alt= blog.imgname)
        p #{blog.content}
        br

  