extends layout
block content
    .row
      .holder
        .large
          | app.use(session()); // session middleware
  | app.use(require('flash')());
| app.use(function (req, res) {
| // flash a message
| req.flash('info', 'hello!');
| next();
| })
