extends layout
block content
 .col-md-8.col-md-offset-4
   .rowcreate
        a(href='/') Home

        if(cart_data.length > 0)
                div(class='cart') Cart
                each cart_item in cart_data
                    div(class='item')
                        span=cart_item.name
                        span=cart[cart_item.id]
                        - var value=(Math.round((cart[cart_item.id] * cart_item.price) * 100) / 100)
                        - total = (total || 0) + value;
                        span=currency + value
                div(class='cartbottom')
                    b Total : #{currency + total} 
                    a(class='button', href='/pay') Pay
        else
            h3 Shopping Cart is empty