extends layout
block content
     .rowcreated
       br
       br
       br
       br
       br
       legend.text-center  Congratulations! your order is completed!
       br
       br
       br
       br
       br
 script.
         $(document).ready(function(){
         $(".panel").hide()
         });
         $(document).ready(function(){
         $(".panel").show(800)
         });
