extends layout
block content
     .rowcreated
       br
       br
       br
       br
       br
       legend.text-center  Congratulations! New product / Category is created
       br
       br
       br
       br
       br



