extends layout
block content
     .rowcreated
       a.button.btn.btn-secondary(href="/admin") ADMIN PANEL
       br
       br
       br
       br
       br
       legend.text-center  Congratulations! New product / Category is created
       br
       br
       br
       br
       br



