extends layout
block content
 .container
   br
   br
   #main.row

    #rightPanel.col-md-8.well
      .row
        .col-md-12
          form(action='/leditprofile', method="post")
            h2
              | Edit your profile.
             hr.colorgraph
            .row
              .col-xs-12.col-sm-6.col-md-6

            .form-group
              input#email.form-control.input-lg(type='password', id='current-password', name='currentPassword', placeholder='Password to confirm changes' required=true)
            .row
              .col-xs-12.col-sm-6.col-md-6
                .form-group
                  input#password.form-control.input-lg(type='password', name='password', placeholder='Password', tabindex='5')
              .col-xs-12.col-sm-6.col-md-6
                .form-group
                  input#password_confirmation.form-control.input-lg(type='password', name='password_confirmation', placeholder='Confirm Password', tabindex='6')
            hr.colorgraph
            .row
              .col-xs-12.col-md-6
              .col-xs-12.col-md-6
                a.button.btn.btn-secondary(href='/profile') Save
      // Modal
      #t_and_c_m.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Terms & Conditions
          // /.modal-content
          // /.modal-dialog
          // /.modal


extends info

block details
    form(id='changePassword', action='/usr/' + customer.Username + '/change-password', method='POST')
        label(for='current-password') Current Password
        input(type='password', id='current-password', name='currentPassword', placeholder='Password to confirm changes' required=true)
        br
        label(for='new-password') New Password
        input(type='password', id='new-password', name='newPassword', placeholder='New Password' required=true)
        br
        label(for='confirm-password') Confirm New Password
        input(type='password', id='confirm-password', name='repeatPassword', placeholder='Repeat New Password' required=true)
        br
        button.btn.btn-default(type='submit') Change Password