extends layout
block content

  

      


  .limiter
   .container-login100(style="background-image: url('zen.jpg');")
     .wrap-login100.p-l-55.p-r-55.p-t-65.p-b-54
       form(action='/login', method='post')
         span.login100-form-title.p-b-49
           | Login
         .wrap-input100.validate-input.m-b-23(data-validate='Username is required')
           span.label-input100 Username
           input.input100(type='text', name='username', placeholder='Type your username')
           span.focus-input100

         .wrap-input100.validate-input(data-validate='Password is required')
           span.label-input100 Password
           input.input100(type='password', name='password', placeholder='Type your password')
           span.focus-input100

         if (message.length > 0)
           #alert
             .alert.alert-success= message   

         .text-right.p-t-8.p-b-31
           a(href='/retrieve')
             | Forgot password?
         .container-login100-form-btn
           .wrap-login100-form-btn
             .login100-form-bgbtn
             button.login100-form-btn(type='submit') Login

            
         .txt1.text-center.p-t-54.p-b-20         
           span
             | .
        .container-login100-form-btn
          .wrap-login100-form-btn
            .login100-form-bgbtn
            button.login100-form-btn
              a(href='/signup')  Register

         
         .txt1.text-center.p-t-54.p-b-20         
           span
             | Or Sign Up Using
             
         .flex-c-m
           a.login100-social-item.bg1(href='/auth/facebook')
             i.fa.fa-facebook

           a.login100-social-item.bg3(href='/auth/google')
             i.fa.fa-google



      
    // JS
    script(src='vendor/jquery/jquery.min.js')
    script(src='js/main.js')
    script.
     window.fbAsyncInit = function() {
     FB.init({
     appId      : '{your-app-id}',
     cookie     : true,
     xfbml      : true,
     version    : '{api-version}'
     });
     FB.AppEvents.logPageView();
     };
     (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));    
     script(src='https://apis.google.com/js/platform.js', async='', defer='')
     a(href='#', onclick='signOut();') Sign out
     script.
     function signOut() {
     var auth2 = gapi.auth2.getAuthInstance();
     auth2.signOut().then(function () {
     console.log('User signed out.');
     });
     }      