extends layout
block content
 .row
   .container
     .item
       h1
         span.fa.fa-user
         |  #{user.username} Profile Page

     .row
       // LOCAL INFORMATION
       .item
         .well

           p.itemp
             strong id
             | : #{user.Id}
             br
             strong username
             | : #{user.username}
             br
             strong password
             | : #{user.password}
             
           a.button.btn.btn-secondary(href="/editprofile") Edit Profile    
           br
           a.button.btn.btn-secondary(href='/logout') Logout