extends layout
block content
   .row
       a.button.btn.btn-secondary(href="/admin") ADMIN PANEL
      center
    
      h2 Customer Enquiries
      
       .col-md-8.col-md-offset-4
         legend.text-center 

            each row in res1
             .prod-container
               .item 
                 h5.product1 Subscriber: #{row.Email}         

               


                a.button.btn.btn-secondary(href="/deletesubscriber/#{row.SubscriberId}") Delete Subscriber
