extends layout
block content
     .rowcreated
       br
       br
       br
       br
       br
       legend.text-center  Thanks for contacting us. We will in touch with you shortly!
       br
       br
       br
       br
       br


